services:
  weather-provider:
    build:
      context: ./services/weather-provider
    ports:
      - "50051:50051"
    env_file:
      - services/weather-provider/.env
    # environment:
    #   - PORT=50051
    #   - GCP_PROJECT_ID=${GCP_PROJECT_ID}
    #   - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud

  dashboard-api:
    build:
      context: ./services/dashboard-api
    ports:
      - "8080:8080"
    env_file:
      - services/dashboard-api/.env
    environment:
    #   - PORT=8080
      - WEATHER_PROVIDER_ADDR=weather-provider:50051
    depends_on:
      - weather-provider
