services:
  weather-provider:
    build:
      context: ./services
      dockerfile: weather-provider/Dockerfile
    ports:
      - "50051:50051"
    env_file:
      - services/weather-provider/.env
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud
  pollen-provider:
    build:
      context: ./services
      dockerfile: pollen-provider/Dockerfile
    ports:
      - "50052:50052"
    env_file:
      - services/pollen-provider/.env
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud

  dashboard-api:
    build:
      context: ./services
      dockerfile: dashboard-api/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - services/dashboard-api/.env
    environment:
      - WEATHER_PROVIDER_ADDR=weather-provider:50051
      - POLLEN_PROVIDER_ADDR=pollen-provider:50052
    depends_on:
      - weather-provider
      - pollen-provider